@import "common/var";
@import "mixins/mixins";
@include b(compare) {
  background-color:#F8F8F8;
  border: 1px solid #d8d8d8;
  height: 100%;
  display: flex;
  flex-direction: column;
  .compare-title{
    font-size: 18px;
    border-bottom: 1px solid #d8d8d8;
    color: #101010;
    text-indent: 16px;
    line-height: 40px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .compare-title-icon{
      margin-right: 16px;
      font-size: 24px;
      cursor: pointer;
    }
  }
  .compare-main{
    height: calc(100% - 41px);
  }
  .compare-setting{
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px;
    .compare-select-wrapper{
      display: flex;
      width: 100%;
      .compare-select-label{
        width: 50%;
        display: flex;
        align-items: center;
      }
    }
    .compare-setting-button{
      color: $--color-primary;
      font-size: 14px;
      right: 6px;
      position: absolute;
      cursor: pointer;
    }
    .current-version{
      color: $--color-primary;
      font-size: 14px;
      margin-left: 8px;
    }
  }
  .compare-content{
    width: 100%;
    height: calc(100% - 54px);
    background: #fff;
    padding: 0 8px;
    box-sizing: border-box;
    .compare-con {
      width:100%;
      height: 100%;
      display: flex;
      overflow-y: auto;
      border: 1px solid #d8d8d8;
    }
    .compare-content-item{
      width: 50%;
      white-space: pre-line;
      padding: 8px;
      box-sizing: border-box;
    }
  }
}