@import "common/var";
@import "mixins/mixins";

@include b(filter) {
  width: 100%;
  font-size: 12px;
  display: flex;
  align-items: center;
  .filter-item {
    &:not(:last-child){
      margin-right: 8px;
    }
  }
  .filter-item-box{
    display: inline-flex;
    align-items: center;
    border: 1px solid $--color-primary;
    min-width: 105px;
    max-width: 360px;
    padding: 0 10px;
    box-sizing: border-box;
    height: 26px;
    line-height: 26px;
    cursor: pointer;
    .prefix{
      color:$--color-primary;
    }
    .inner{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
      .value{
        flex: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: hidden;
        padding: 0 10px;
      }
    }
  }
  .only-border-bottom{
    .el-input__inner{
      border: none;
      border-bottom: 1px solid #DCDFE6;
    }
  }
  @at-root .vm-popover{
    padding: 10px 0!important;
    .filter-option-item {
      height: 34px;
      line-height: 34px;
      font-size: 12px;
      cursor: pointer;
      padding-left: 8px;
      &:hover{
        color: $--color-primary;
        background-color: #f5f7fa;
      }
    }
  }


  .fix-center{
    display: flex;
    align-items: center;
  }
}