@import "common/var";
@import "mixins/mixins";
@include b(preview) {
  background-color:#F8F8F8;
  height: 100%;
  display: flex;
  flex-direction: column;
  .title{
    font-size: 18px;
    border: 1px solid #d8d8d8;
    color: #101010;
    text-indent: 16px;
    line-height: 40px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .title-icon{
      margin-right: 16px;
      font-size: 24px;
      cursor: pointer;
    }
  }
  .wapper{
    flex:1;
    display: flex;
    width: 100%;
    overflow: hidden;
    .list-wapper{
      margin-top: 6px;
    }
    .list{
      width: 300px;
      border-right: 1px solid #d8d8d8;
      height: 100%;
      overflow: auto;
      .icon-title{
        color:$--color-primary;
        font-size: 14px;
        text-align: right;
        line-height: 32px;
        padding: 12px 6px 6px 0;
        .icon{
          font-size:18px;
          margin-right: 6px;
        }
      }
      .version{
        border: 1px solid #D8D8D8;
        margin: 0 6px 6px 6px;
        color:rgba(0, 0, 0, 0.85);
        background: $--color-white;
        font-size: 16px;
        .version-wapper{
          display: flex;
          margin: 16px 8px;
          justify-content: space-between;
        }
        .date{
          font-size: 14px;
          color:rgba(0, 0, 0, 0.25);
          margin: 0 0 8px 8px;
        }
        .current{
          color:$--color-primary;
          font-size: 12px;
          border: 1px solid $--color-primary;
          padding: 2px 8px;
        }
        &.active{
          background-color: rgba(59, 142, 142, 0.2);
        }
      }
    }
    .content{
      flex: 1;
      background: $--color-white;
      margin: 6px 0 0 6px;
      border:1px solid rgba(216, 216, 216, 100);
      overflow: auto;
      max-height: 100%;
    }
    .info{
      width: 336px;
      .info-title{
        color: rgba(0, 0, 0, 0.85);
        font-size: 18px;
        margin: 16px 0 24px 16px;
      }
      .label-wapper{
        margin-bottom: 24px;
        display: flex;
        font-size: 14px;
        color:rgba(0, 0, 0, 0.25);
        .label{
          width: 120px;
          text-align: right;
          display: inline-block;
          color: rgba(0, 0, 0, 0.85);
        }
        .info-value{
            display: inline-block;
            max-width: 180px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .download{
          font-size: 20px;
          color: $--color-primary;
          margin-right: 10px;
          width: 110px;
        }
        .download-file{
          color: $--color-primary;
        }
      }
    }
  }
}