/* Typography
-------------------------- */
$--font-path: 'fonts' !default;

/* Color
-------------------------- */
$--color-primary: #409EFF !default;

$--color-white: #FFFFFF !default;

$--color-black: #000000 !default;

/* border
-------------------------- */
$--border-radius: 2px !default;